.ConteinerTicker{
    background-color:black;
    width:100%;
    overflow:hidden;
    color:rgb(197, 96, 255);
    white-space: nowrap;
}

.Ticker{
    animation: tickerslide 15s linear infinite;
    display:inline-block;
    font-size:20pt;
}

@keyframes tickerslide{
    from {transform:translateX(0%)}
    to {transform:translateX(-50%)}
}