.App {
  display:flex;
  flex-direction:column;
  text-align: center;
  height:100vh;
  background-image:url("../public/backgroundMrrobot.jpg");
  background-size:cover;
}

h1{
  color:white;
  text-shadow: 4px 4px 5px rgb(194, 0, 161);
  font-size:60pt;
}

@keyframes rodandoLegal {
  from{transform: rotate(0deg)}
  to{transform:rotate(360deg)}
}

#headerDiv{
  justify-content: space-around;
  display:flex;
  overflow: hidden;

}

.imgzinhas{
  width:180px;
  height:300px;
  animation: spinningHaha linear 5s infinite;
}

@keyframes spinningHaha{
  from {transform:rotate(0deg)}
  to {transform:rotate(360deg)}
}

middle{
  display:flex;
  flex-direction: column;
  align-items: center;
}